*

!Experts/
!Experts/My/
!Experts/My/**

!Include/
!Include/mql5/
!Include/mql5/**
!Include/My/
!Include/My/**

!Indicators
!Indicators/My
!Indicators/My/**

!Scripts
!Scripts/My
!Scripts/My/**

!.gitignore